:root {
    /* --opacity: 10%; */
    --color-bg1: red;
    --color-bg2: red;
    --color1: 33, 122, 103;
    --color3: 33, 122, 103;
    --color4: 33, 122, 103;
    --color5: 33, 122, 103;
    --color-interactive: 33, 122, 103;
    --circle-size: 50%;
    /* --blending: Soft-light; */
    --opacity-g: 0.3;
}


@keyframes g1 {
    0% {
        transform: translateX(-50%) translateY(-100vh);
    }

    /* 50% {
       transform: translateX(0) translateY(0);
    } */

    100% {
        transform: translateX(0) translateY(0);
        
    }
}


@keyframes g2 {
    0% {
        transform: translateX(150%) translateY(100vh);
    }

    /* 50% {
       transform: translateX(0) translateY(0);
    } */

    100% {
        transform: translateX(0) translateY(0);
        
    }
}


.gradient-bg {
    /* width: 100vw;
    height: 100vh; */
    /* position: relative; */
    overflow: hidden;
    background: black;
    /* top: 0;
    left: 0; */
}

.gradient-bg svg {
    display: none;
} 


.gradients-container {
    /* filter: url(#goo) blur(90px); */
    width: 100%;
    height: 100%;
    top: 0;
    /* right: 0; */
    position: absolute;
}

.g1 {
    top: -130px;
    left: 60px;
    filter: url(#goo) blur(90px);
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    /* background: radial-gradient(rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat; */
    /* mix-blend-mode: var(--blending); */

    width: var(--circle-size);
    height: var(--circle-size);
    /* top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2); */

    /* transform-origin: center center; */
    animation: g1 2s;

    /* opacity: var(--opacity-g); */
    opacity: 1;
}

.g2 {
    top: 50px;
    left: 345px;
    filter: url(#goo) blur(90px);
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    /* mix-blend-mode: var(--blending); */

    width: var(--circle-size);
    height: var(--circle-size);
    /* top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2); */

    /* transform-origin: calc(50% - 400px); */
    /* transform-origin: top left; */
    animation: g2 2s;

    /* opacity: var(--opacity-g); */
    opacity: 1;
}

@media (min-width: 992px) {
    .g1 {
        top: 0;
        left: 0;
    }
    
    .g2 {
        top: 350px;
        left: 15%;
    }
}

