/* @font-face {
    font-family: "Gilroy Bold";
    src: url("../../fonts/Gilroy-Bold.ttf");
} */

@font-face {
  font-family: "GilroyLight";
  src: url("./fonts/Gilroy-Light.ttf");
}

/* @font-face {
    font-family: "GilroyMedium";
    src: url("./fonts/Gilroy-Medium.ttf");
} */

@font-face {
  font-family: "GilroyRegular";
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "GilroyThin";
  src: url("./fonts/Gilroy-Thin.ttf");
}

/* @font-face {
    font-family: "GilroyThin";
    src: url("./fonts/Gilroy-Thin.woff");
} */

/* @font-face {
    font-family: "GilroyThin";
    src: url("./fonts/Gilroy.otf");
}  */

/* @font-face {
    font-family: "Futura";
    src: url("../../fonts/FuturaPT-Medium.woff");
} */

.desc {
  font-family: GilroyThin, sans-serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  border: 0px;

  font-family: GilroyRegular, sans-serif;
  color: white;
  font-weight: 500;
  text-align: center;

  /* outline: 1px solid red !important; */
}

a {
  text-decoration: none;
}

body {
  background: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  max-width: 390px;
  margin: auto;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  z-index: 1000;
}

h1 {
  font-size: 15px;
}

b {
  font-weight: bold;
}

.title {
  padding: 70px 0 10px;
  z-index: 10;
}

.time {
  font-size: 20px;
  top: 50px;
  position: absolute;
  right: 30px;
  color: #dcdcdc;
  z-index: 1;
}

@keyframes back-anim {
  0% {
    background-color: black;
  }

  100% {
    background-color: rgba(6, 120, 101, 0.001);
  }
}

.back-anim {
  animation: back-anim 2s;
  background: rgba(6, 120, 101, 0.001);
}

.card-front {
  height: 223px;
  width: 329px;
}

.card-front__wr {
  position: relative;
  display: flex;
  height: 167px;
  flex-direction: column;
  padding: 28px 33px;
  justify-content: space-between;
  box-shadow: 0px 0px 75px 25px black;
  border-radius: 16px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: flex-end;
}

.card-front span {
  font-size: 7px;
}

.card-front img {
  z-index: 10;
}

.count {
  font-size: 25px;
  margin-top: 25px;
}

.info-card {
  display: grid;
  gap: 20px;
}

.card-back {
  min-width: 330px;
  z-index: 900000;
  position: relative;
}

.card-bg {
  background-color: #151515;
  border-radius: 17px;
  padding: 33px 21px;
  max-width: 640px;
  margin: 25px 0 25px;
}

.info-card__row {
  position: relative;
}

.info-card__row div {
  text-align: left;
}

.sber-icon {
  height: 34px;
  width: 34px;
}

.card-icon {
  width: 28px;
  height: 17px;
}

.info {
  margin-bottom: 4px;
}

.copy {
  position: absolute;
  right: 80px;
  bottom: 22px;
  cursor: pointer;
}

.h2 {
  font-size: 20px;
}

.info-title {
  color: #42af98;
  margin-bottom: 13px;
}

.info-text {
  font-size: 17px;
}

.btn {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 22px;
}

.btn-green {
  background: #217a67;
  box-shadow: 0px 0px 30px #217a67;
}

.btn-red {
  background: #6f1c1c;
  box-shadow: 0px 0px 30px #6f1c1c;
}

.done {
  order: -1;
  display: flex;
  justify-content: center;
}

.done-img {
  width: 37px;
  margin-bottom: -20px;
}

.table-row {
  display: flex;
}

.table-row div {
  width: 50%;
  min-width: 150px;
  text-align: left;
}

.cancel-subtitle {
  margin: 12px 0 24px;
}

.loader-wrapper {
  top: 90px;
}

.disput-text {
  margin: 40px 0;
}

.disput-title {
  max-width: 230px;
}

.search-title {
  order: 1;
}

.search-loader {
  margin-top: 100px;
}

@media (min-width: 992px) {
  .desc {
    font-size: 20px;
  }

  .cancel-subtitle {
    font-size: 14px;
  }

  .wrapper {
    max-width: 1500px;
  }

  .page {
    padding: 30px 30px 130px;
  }

  h1 {
    font-size: 45px;
  }

  .title {
    padding: 100px 0;
  }

  .time {
    font-size: 30px;
    top: 170px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .card-bg {
    padding: 62px 90px;
  }

  .card-front__wr {
    padding: 50px 55px;
    height: 295px;
  }

  .card-front {
    height: 395px;
    width: 583px;
  }

  .sber-icon {
    height: 61px;
    width: 61px;
  }

  .card-icon {
    width: 50px;
    height: 31px;
  }

  .count {
    font-size: 40px;
    /* margin-top: inherit; */
  }

  .info-card {
    margin-bottom: 22px;
    gap: 35px;
  }

  .info {
    margin-bottom: 20px;
  }

  .h2 {
    font-size: 35px;
  }

  .copy {
    height: 21px;
    width: 21px;
    right: 120px;
    bottom: 40px;
  }

  .main-btn {
    padding: 12px 0;
    margin-bottom: inherit;
  }

  .info-title {
    margin-bottom: 25px;
  }

  .info-text {
    font-size: 25px;
  }

  .done {
    position: absolute;
    top: 280px;
  }

  .card-back-left {
    margin-top: 350px;
  }

  .done-img {
    width: 106px;
    margin-bottom: inherit;
  }

  .disput-title {
    max-width: inherit;
  }

  .search-title {
    order: inherit;
  }

  .disput-cont {
    margin-left: inherit;
    margin-top: 400px;
  }

  .loader-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    width: inherit;
    height: inherit;
    top: -25px;
    left: -25px;
  }
}

@media (min-width: 1440px) {
  .cards {
    flex-direction: initial;
  }

  .card-back {
    min-width: 640px;
  }

  .done {
    order: inherit;
    left: 30px;
  }

  .card-back-left {
    margin-left: auto;
    z-index: 20;
    margin-top: inherit;
  }

  .done-img {
    margin-bottom: inherit;
    /* margin-left: 90px; */
  }

  .back-anim {
    margin-top: 70px;
  }

  .disput-loader {
    left: inherit;
  }

  .disput-cont {
    margin-left: inherit;
    margin-top: 440px;
  }
}
